In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
clean = pd.read_csv('clean.csv', index_col=False)

print(clean.shape)
clean.head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2197291, 51)

,activity_category,act_char_1,act_char_2,act_char_3,act_char_4,act_char_5,act_char_6,act_char_7,act_char_8,act_char_9,...,people_char_29,people_char_30,people_char_31,people_char_32,people_char_33,people_char_34,people_char_35,people_char_36,people_char_37,people_char_38
0,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,0,0,1,1,1,0,36
1,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,0,0,1,1,1,0,36
2,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,0,0,1,1,1,0,36
3,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,0,0,1,1,1,0,36
4,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,0,0,1,1,1,0,36

In [7]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197291 entries, 0 to 2197290
Data columns (total 51 columns):
activity_category    object
act_char_1           object
act_char_2           object
act_char_3           object
act_char_4           object
act_char_5           object
act_char_6           object
act_char_7           object
act_char_8           object
act_char_9           object
act_char_10          object
outcome              int64
people_char_1        int64
group_1              object
people_char_2        object
people_char_3        object
people_char_4        object
people_char_5        object
people_char_6        object
people_char_7        object
people_char_8        object
people_char_9        object
people_char_10       int64
people_char_11       int64
people_char_12       int64
people_char_13       int64
people_char_14       int64
people_char_15       int64
people_char_16       int64
people_char_17       int64
people_char_18       int64
people_char_19       int64
people_char_20       int64
people_char_21       int64
people_char_22       int64
people_char_23       int64
people_char_24       int64
people_char_25       int64
people_char_26       int64
people_char_27       int64
people_char_28       int64
people_char_29       int64
people_char_30       int64
people_char_31       int64
people_char_32       int64
people_char_33       int64
people_char_34       int64
people_char_35       int64
people_char_36       int64
people_char_37       int64
people_char_38       int64
dtypes: int64(31), object(20)
memory usage: 855.0+ MB